 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : Ahmed mohammed atta salman

1. Add an item to a tuple

In [9]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
new_tuple =list(my_tuple)
new_tuple.append(item_to_add)

print(new_tuple)

[1, 2, 3, 4]

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [ ]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0

for i in numbers:
    total+=i


print(total)

# Hint: Use a for loop and accumulate values into total.

50

3. Multiply all items in a list

In [11]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
for i in numbers:
    result*=i

print(result)
# Hint: Start from 1 and multiply one element at a time.

24

4. Get the smallest number from a list

In [14]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())

numbers.sort()
smallest = numbers[0]
print(numbers)
# your code here

print(smallest)
# Hint: Replace smallest when you find a smaller value.

[1, 3, 7, 10, 25]
1

5. Get the largest number from a list

In [17]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
numbers.sort()
size = len(numbers)-1
largest = numbers[size]
# your code here

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

25

6. Count number of strings with length â‰¥ 2

In [10]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
for i in words:
    if len(i)>= 2:
        count+=1

print(count)
# Hint: Use len(word) and a condition.

4

7. Clone or copy a list

In [18]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned= original.copy()
print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

8. Remove item(s) from a set

In [21]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
my_set.remove(1)

print(my_set)
# Hint: Use remove() or discard().

{2, 3, 4, 5}

9. Check if a set is subset of another

In [22]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
set1.issubset(set2)


# Hint: Use .issubset() or compare elements manually.

True

10. Remove all elements from a set

In [23]:
my_set = {1, 2, 3}

# TODO: clear the set
my_set.clear()

print(my_set)

# Hint: Sets have a method that makes them empty.

set()

11. Find max and min values in a set

In [12]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
con = list(my_set)
largest = con[0]
smallest= con[0]
for i in con:
    if(largest<=i):
        largest=i
    elif(smallest>=i):
        smallest=i
    else : "hello "

print("Max:", largest)
print("Min:", smallest)
# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

12. Find the index of an item in a tuple

In [34]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
y = my_tuple.index(30)


print(y)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [5]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
my_dict=dict(my_tuple)

print(type(my_dict))
# Hint: A dictionary can be built directly from pairs.

<class 'dict'>

14. Unzip a list of tuples into individual lists

In [3]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
list1=list(pairs)
list_one =list(list1[0])
list_two =list(list1[1])

print(list_one)
print(list_two)

# Hint: You can loop OR use zip(*pairs).

[1, 2]
[3, 4]

15. Reverse a tuple

In [20]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
indexof=len(my_tuple)
new_list = [1,1,1,1,1]
for i in my_tuple:
    new_list[indexof-1]=i
    indexof-=1

print(new_list)
# Hint: Use slicing.

[5, 4, 3, 2, 1]

16. Convert a list of tuples into a dictionary

In [24]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here
my_dict=dict(pairs)
print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [25]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
list1 =list(data[0])
list2 =list(data[1])
list3 =list(data[2])
list1[2]=100
list2[2]=100
list3[2]=100
tuple1=tuple(list1)
tuple2=tuple(list2)
tuple3=tuple(list3)
new_list = [tuple1, tuple2, tuple3]
print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [ ]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))
list1=list(items)
# TODO: sort by the float value
dict1 = dict(list1)
count =0
check = list1[count][1]
for i in dict1.values:
    if i <check:
        list1[count][1]=i
    count+=1    


    



print(list1)
# Hint: Use sorted() with a key function.

dict_values([10.5, 5.7, 8.9])

## challenge part

Find the longest word in a list

In [56]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word
check= words[0]
counter=0
for i in words:
    if len(check)>=len(i):
        check=words[counter]
        counter+=1
 
print(words[len(check)])
# Hint: Track the word with the largest len().

fantastic

Merge two dictionaries

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary

d1.update(d2)

print(d1)
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

IndexError: string index out of range

solution

In [ ]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

New Challenge

In [65]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0      # TODO: start total at 0

for student_data in scores.values():# TODO: loop over values of the dictionary
    for score in student_data.values(): # TODO: loop over inner dictionary values
        total +=score              # TODO: update the total

print(total)       # TODO: print the result

#hint you will need nested for loop one

510